{% extends 'base.html' %}

{% block content %}
    <p>카테고리 수정</p>
    {% if form.errors %}
        {% include 'form_error.html' %}
    {% else %}
    {% if categories %}
        {% for category in categories %}
            <a href="">{{ category }}</a>
            <form action="{% url 'blog:cg-delete' pk=post.pk category_pk=category.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="X">
            </form>
        {% endfor %}
    {% else %}
        <p>지정된 카테고리가 없습니다.</p>
    {% endif %}
    <form action="{% url 'blog:cg-update' pk=post.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="카테고리 추가">
    </form>
    <a href="{% url 'blog:detail' pk=post.pk %}">게시글로 돌아가기</a>
{% endif %}
{% endblock %}