{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% if posts %}
                {% for post in posts %}
                    <div class="post-preview card px-4">
                        <a href="{% url 'blog:detail' pk=post.pk %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.content|truncatechars:30 }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="{% url 'user:p-detail' user=post.writer %}">{{ post.writer }}</a>
                            on {{ post.created_at }}
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <h2>작성된 게시글이 없습니다.</h2>
            {% endif %}
            <div class="d-flex justify-content-end mb-4">
                {% if user.is_authenticated %}
                    <a class="btn btn-primary text-uppercase mt-4" href="{% url 'blog:write' %}">글쓰기</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
