{% extends 'base.html' %}

{% block content %}
    <p>블로그 목록 첫 화면입니다.</p>
    {% if posts %}
    <table>
        <thead>
            <tr>
                <td>제목</td>
                <td>내용</td>
                <td>작성자</td>
            </tr>
        </thead>
        {% for post in posts %}
        <tbody>
            <tr>
                <td><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></td>
                <td><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.content }}</a></td>
                <td><a href="">{{ post.writer }}</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
        <p>게시글이 없습니다</p>
    {% endif %}
    <a href="{% url 'blog:write' %}">글쓰기</a>
{% endblock %}